@charset "utf-8";
/* CSS Document */
html
{
	font: 12px/1.5 宋体,tahoma,helvetica,clean,sans-serif;
	width:100%;  
    height:100%; 
}

body
{
	margin: 0px;
	width:100%;  
    height:100%; 
}
ul,li
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.panel
{
	border:1px solid #000;
	width:100px;
	height:100px;
}
.main_panel
{
	/*transform:scale(0.2,0.2);  
	-moz-transform:scale(0.2,0.2);  
 	-webkit-transform:scale(0.2,0.2);  
	-o-transform:scale(0.2,0.2); */
	width:300px;
	height:600px;
	cursor: default;
	position:relative;
	top:100px;
	left:900px;
	/*text-shadow: 0 1px 0 rgba(255,255,255,0.9);*/
	background-color: #5FAFE0;
	background-image: -moz-linear-gradient(#5FAFE0, #C9E0ED);
	background-image: -webkit-linear-gradient(#5FAFE0, #C9E0ED);
	background-image: linear-gradient(#5FAFE0, #C9E0ED);
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#5FAFE0', endColorStr='#C9E0ED', gradientType='0');
	background-repeat: repeat-x;
	border-radius: 3px;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	border: 1px solid #3D4E57;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.4),-1px -1px 1px rgba(0,0,0,0.2);
	vertical-align: middle;
	overflow:visible;
	z-index:5100;
}

.main_panel .animate
{
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-animation: none;
	-moz-animation: none;
	-o-animation: none;
	-ms-animation: none;
	animation: none;
}

.main_panel_content,.main_panel_content_table
{
    height:100%;
    width: 100%;
	overflow:hidden;
	border-spacing: 0px;
}
.main_panel_content_table .first
{
    height:140px;
}
.main_panel_content_table .third
{
    height:55px;
}
.main_header_component .title
{
	font:normal bold 14px/1.5 arial,sans-serif;
	width:100px;
	height:20px;
	border-spacing: 0px;
}

.head_table_info
{
	width: 100%;
	height: 64px;
	padding-right: 8px;
	border-spacing: 0px;
}
.head_pic
{
	width: 60px;
	height:60px;
	background-color:#fff;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	
	cursor: pointer;
	border: 1px solid #fff;
}
.head_pic:hover
{
	border: 1px solid #2585BF;
	/*box-shadow: 1px 1px 1px rgba(0,0,0,0.2);*/
	box-shadow: -1px -1px 8px rgba(3,118,250,0.8),1px 1px 8px rgba(3,118,250,0.8);
	-webkit-font-smoothing: antialiased;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
	/*box-shadow: inset 30px 30px 20px #2585BF;
	-moz-box-shadow: inset 30px 30px 20px #2585BF;
	-webkit-box-shadow: inset 30px 30px 20px #2585BF;*/
}
.head_table_right
{
	width: 64px;
}
.head_picture
{
	width:60px;
	height:60px;
}
.head_status_name_grade
{
	overflow: hidden;
	height: 20px;
}
.head_status 
{
	width: 35px;
	height: 15px;
	padding-top: 4px;
	margin-left: 2px;
	float: left;
}
.head_status_pic
{
	width:11px;
	height:11px;
}
.head_status_arrow
{
	width:7px;
	height:7px;
	padding-bottom: 3px;
}
.head_nick
{
	margin-left:10px;
	font:normal bold 14px/1.5 宋体,arial,sans-serif;
}
.head_level
{
	margin-left:5px;
	color:#EBF031;
	font: normal bold 9px/1.5 宋体,arial,sans-serif;
	-webkit-text-size-adjust:none;
	text-shadow: 0px 1px 0px #B86030,1px 0px 0px #B86030,0px -1px 0px #B86030,-1px 0px 0px #B86030;
	width: 33px;
	height: 15px;
	padding-top: 2px;
	text-align: center;
}
.head_introduce
{
	padding:0px 1px 2px 1px;
	margin-left:2px;
	font:normal normal 12px/1.5 宋体,tahoma,helvetica,clean,sans-serif;
	overflow: hidden;
	height: 15px;
}
.main_footer_component
{
	overflow:hidden;
}
.main_footer_component table
{
	width:100%;
	overflow:hidden;
}
.head_other_service
{
	margin-left:2px;
	overflow: hidden;
	height: 19px;
}
.head_service_pic
{
	height:16px;
	padding: 1px 2px 1px 2px;
	display:inline-block;
}
.head_service_pic2
{
	height:16px;
	
}
.head_service_pic div
{
	display:inline-block;
	position: relative;
	top: -3px;
	font: 10px/1.5 宋体,tahoma,helvetica,clean,sans-serif;
}
.footer_service_pic
{
    width:20px;
    height:20px;
    padding: 1px 2px 1px 2px;
	float: left;
}
.footer_service_pic2,.footer_service_pic4
{
    width: 35px;
	height: 38px;
    padding: 1px 2px 1px 2px;
	display:inline-block;
}
.footer_service_pic2 .footer_main_pic,.footer_service_pic4 .footer_main_pic{
    width: 35px;
	height: 38px;
    opacity: 1;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    float: right;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    -ms-animation: none;
    animation: none;
}
.footer_service_pic2 .footer_main_pic_hover,.footer_service_pic4 .footer_main_pic_hover{
    width: 35px;
	height: 38px;
    opacity: 0;
    filter:alpha(opacity=0);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    -ms-animation: none;
    animation: none;
}
.main_footer_component > td{
    width: 23px;
	overflow:hidden;
}
.main_footer_component .footer_main_pic_td{
    width: 39px;
	overflow:hidden;
}
.footer_service_pic2:hover .footer_main_pic{
    opacity: 0;
    filter:alpha(opacity=0);
}
.footer_service_pic2:hover .footer_main_pic_hover{
    opacity: 1;
    filter:alpha(opacity=100);
}
.footer_service_pic3
{
	display:inline-block;
	width: 50px;
	height: 23px;
}
.footer_service_pic3 div
{
	display:inline-block;
	overflow:hidden;
	height: 18px;
	float: left;
	padding-top: 3px;
}
.main_footer_component .footer_other_service{
	overflow:hidden;
	height: 23px;
}
.inline
{
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.margin_left5
{
	margin-left:5px;
}
.margin_right5
{
	margin-right:5px;
}
.float_left
{
	float:left;
}
.float_right
{
	float:right;
}
.margin_leftright5
{
	margin-left:5px;
	margin-right:5px;
}
.noselect
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
}
.select
{
	-webkit-touch-callout:text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
.moveover1:hover{
	-webkit-appearance: none; 
	background:url(../pic/Res/Mine/hover.png) repeat-x;
	border-radius: 2px;
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.9),inset -1px -1px 1px rgba(255,255,255,0.9);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    outline: 0;
    outline: 1px solid  /9;
    outline-color:#BED9EA;
    /* IE6-9 */
}

.moveover3:hover{
	-webkit-appearance: none; 
	border-radius: 2px;
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.9),inset -1px -1px 1px rgba(255,255,255,0.9);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    outline: 0;
    outline: 1px solid  \9;
    outline-color:#BED9EA;
    /* IE6-9 */
}
#login input[type="email"], #login input[type="password"] {
background: #6473cd;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-ms-border-radius: 4px;

border-radius: 4px;

padding: 10px;
-moz-box-shadow: inset 1px 2px 4px rgba(0,0,0,0.25);
-webkit-box-shadow: inset 1px 2px 4px rgba(0,0,0,0.25);
-ms-box-shadow: inset 1px 2px 4px rgba(0,0,0,0.25);
box-shadow: inset 1px 2px 4px rgba(0,0,0,0.25);
border: 0;
border-bottom: 1px solid rgba(255,255,255,0.3);
width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
color: #FFF;
font-size: 14px;
font-family: 'Open Sans',sans-serif;
-webkit-font-smoothing: antialiased;
-moz-transition: all .3s linear;
-webkit-transition: all .3s linear;
-ms-transition: all .3s linear;
transition: all .3s linear;
}
.menu_component
{
    position: absolute;
    z-index: 10000;
    top: 0px;
    left: 0px;
	cursor: default;
}
.menu_component .menu_background
{
    position: absolute;
    z-index: -1;
    background-color: #ffffff;
    opacity:0;
    filter:alpha(opacity=0);
}

.menu_component_content table
{
    /*border-collapse:collapse;  */
	width:100%;
    border-spacing: 0px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
	padding:1px;
	*border-spacing:expression(this.cellSpacing="0px");
	border: 1px solid #929697;
	 background-color: #FDFEFE;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1),-1px -1px 1px rgba(0,0,0,0.1);
	overflow:visible;
	/*border-collapse:collapse;*/
}
.menu_component_content .menu_frame_left_margin
{
	margin-left: 4px;
}
.menu_component_content .menu_frame_right_margin
{
	margin-right: 4px;
}
.menu_component_content tr.menu_focus >td,
.menu_component_content tr.menu_focus >td.menu_pic
{
    background-color:#3791CF;
	color:#FFF;
	background-image: -moz-linear-gradient(#3791CF,#3EA5EA);
	background-image: -webkit-linear-gradient(#3791CF,#3EA5EA);
	background-image: linear-gradient(#3791CF,#3EA5EA);
	background-repeat: repeat-x;
}
.menu_component_content tr td.menu_line_pic
{
    background-color: #D2E3EB;
	color:#000;
	background-image: none;
}
.menu_component_content tr.menu_line td.menu_line_text
{
	background: url(../pic/Res/Finger/Finger_line.png) no-repeat 6px 1px;
}
.menu_component_content tr td
{
    background-color:#fff;
	color:#000;
	background-image: none;
}
.menu_component_content tr td.menu_pic,
.menu_component_content tr td.menu_line_pic
{
    background-color: #D2E3EB;
	vertical-align: middle;
	text-align: center;
}
.menu_component_content tr:first-child > td:first-child
{
    border-top-left-radius: 3px;
}
.menu_component_content tr:last-child > td:first-child
{
    border-bottom-left-radius: 3px;
}
.menu_component_content tr:first-child > td:last-child
{
    border-top-right-radius: 3px;
}
.menu_component_content tr:last-child > td:last-child
{
    border-bottom-right-radius: 3px;
}
.menu_component_content .menu_pic
{
	width: 22px;
	height: 20px;
    background-color: #D2E3EB;
	vertical-align: middle;
	text-align: center;
}
.menu_component_content .menu_text
{
    height: 20px;
	padding-left: 7px;
}
.menu_component_content .menu_line_pic
{
   height: 1px;
   width: 22px;
   background-color: #D2E3EB;
}
.menu_component_content .menu_line_text
{
    background:url(../pic/Res/Finger/Finger_line.png) no-repeat 6px 1px;
}
.menu_component_content .menu_line_right
{
    width: 5px;
}





.main_tab_panel 
{
	width: 100%;
	height: 100%;
	border:none;
	overflow: hidden;
}
.main_tab_panel .tab_panel_content
{
	
	height:100%;
    width: 100%;
	overflow: hidden;
	border-spacing: 0px;
}
.main_tab_panel .panel_content_tr_first
{
	height:38px;
}
.panel_content_tr_second_td
{
	height:100%;
}
.main_tab_panel .panel_content_tr_second
{
	height:100%;
}
.main_tab_panel .panel_content_tr_second_td
{
	height:100%;
}
.main_tab_panel .panel_content_tabs
{
	list-style:none;
	margin: 0px;
	padding: 0px;
	height: 38px;
	overflow: hidden;
	background-color: #3793C6;
	background-image: -moz-linear-gradient(#3793C6, #2889C0);
	background-image: -webkit-linear-gradient(#3793C6, #2889C0);
	background-image: linear-gradient(#3793C6, #2889C0);
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#3793C6', endColorStr='#2889C0', gradientType='0');
	background-repeat: repeat-x;
}
.main_tab_panel .panel_content_tab_contents
{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
.main_tab_panel .panel_content_tab_contents>div
{
	position: relative;
}
.main_tab_panel .tab_content
{
	float:none;
	height: 100%;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}
.main_tab_panel .tab_content:hover
{
	background-color: #3793C6;
	background-image: -moz-linear-gradient(#3793C6, #86C4EA);
	background-image: -webkit-linear-gradient(#3793C6, #86C4EA);
	background-image: linear-gradient(#3793C6, #86C4EA);
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#3793C6', endColorStr='#86C4EA', gradientType='0');
	background-repeat: repeat-x;
}


.main_tab_panel .tab_content_focus,.main_tab_panel .tab_content_focus:hover
{
	background-color: #3793C6;
	background-image: -moz-linear-gradient(#3793C6, #ffffff);
	background-image: -webkit-linear-gradient(#3793C6, #ffffff);
	background-image: linear-gradient(#3793C6, #ffffff);
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#3793C6', endColorStr='#ffffff', gradientType='0');
	background-repeat: repeat-x;
}

.main_tab_panel .tab_content_div
{
	height: 100%;
	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
	
}
.main_tab_panel .tab_pic_div
{
	display: inline-block;
	height: 100%;
	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
}
.main_tab_panel .tab_name_div
{
	display: inline-block;
	height: 100%;
	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
}
.main_tab_panel .tab_pic
{
	display: inline-block;
	margin-top: 7px;
}
.main_tab_panel .tab_name
{
	display: inline-block;
	margin-top: 7px;
}
.main_tab_panel .down_array
{
	display: none;
	position: absolute;
}
.main_tab_panel .tab_content_focus .down_array
{
	display: inline-block;
	height: 38px;
	width: 18px;
	position: absolute;
	visibility:hidden;
}
.main_tab_panel .tab_content_focus:hover .down_array, .main_tab_panel .tab_content_focus .down_array_click
{
	visibility: visible;
	background-color: #3E9BCE;
	background-image: -moz-linear-gradient(#3E9BCE, #ffffff);
	background-image: -webkit-linear-gradient(#3E9BCE, #ffffff);
	background-image: linear-gradient(#3E9BCE, #ffffff);
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#3E9BCE', endColorStr='#ffffff', gradientType='0');
	background-repeat: repeat-x;
	
}
.main_tab_panel .down_array_pic
{
	margin-top: 16px;
}

.main_tab_panel .tab_content_panel
{
	width: 100%;
	height: 100%;	
	background-color:#ffffff;
}
.friend_panel .friend_clazz_table
{
	width: 500%;
	padding: 0px;
	margin: 0px;
	border-spacing:0px;
	background-color: inherit;
	list-style-type:none;
}
.friend_panel .friend_clazz,.friend_panel .friend_clazz_middle1,.friend_panel .friend_clazz_select
{
	height:27px;
	min-width:300px;
	border-top: 1px solid #FFF;
}
.friend_panel .friend_clazz:hover,.friend_panel .friend_clazz_select:hover,
.friend_panel .friend_clazz_focus,.friend_panel .friend_clazz_select_focus
{
	background-color:#F4FCFF;
}
.friend_panel .arrow_clazz
{
	 display: inline-block; 
	 vertical-align: middle;
	margin: auto;
}
.friend_panel .arrow_clazz_div
{
	width:20px;
	height:14px;
	margin:0px;
	vertical-align: top;
}
.friend_panel .arrow_clazz_pic
{
	height:10px;
	width:10px;
	margin:auto;
	vertical-align:middle;
	position: relative;
	top: 3px;
	background:url(../pic/Res/AppFramework/SelectContact/list_right.png) no-repeat -5px;
}

.friend_panel .friend_clazz:hover .arrow_clazz_pic, .friend_panel .friend_clazz_focus .arrow_clazz_pic
{
	background:url(../pic/Res/AppFramework/SelectContact/list_right_focus.png) no-repeat -5px;
}

.friend_panel .clazz_info
{
	width:100%;
	display: inline; 
	vertical-align: middle;
	margin: auto;
}

.friend_panel .clazz_info_div
{
	width: 100%;
	display: inline;
	vertical-align: middle;
	margin: auto;
}

.friend_panel .friend_clazz_select .arrow_clazz_pic
{
	height:10px;
	width:10px;
	margin:auto;
	vertical-align:middle;
	*top: 30%;
	background:url(../pic/Res/AppFramework/SelectContact/list_down.png) no-repeat -6px;
}
.friend_panel .friend_clazz_select:hover .arrow_clazz_pic, .friend_panel .friend_clazz_select_focus .arrow_clazz_pic
{
	background:url(../pic/Res/AppFramework/SelectContact/list_down_focus.png) no-repeat -6px;
}
.friend_panel .friend_clazz_middle1 .arrow_clazz_pic,.friend_panel .friend_clazz_middle3 .arrow_clazz_pic,.friend_panel .friend_clazz_middle5 .arrow_clazz_pic
{
	-webkit-transition: -webkit-transform 0.1s linear;
	-moz-transition: -moz-transform 0.1s linear;
	-o-transition: -o-transform 0.1s linear;
	transition: transform 0.1s linear;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.friend_panel .friend_clazz_middle1:hover .arrow_clazz_pic,.friend_panel .friend_clazz_middle3 .arrow_clazz_pic
{
	background:url(../pic/Res/AppFramework/SelectContact/list_right_focus.png) no-repeat -5px;
}

.friend_panel .friend_clazz_middle2 .arrow_clazz_pic,.friend_panel .friend_clazz_middle4 .arrow_clazz_pic,.friend_panel .friend_clazz_middle6 .arrow_clazz_pic
{
	-webkit-transition: -webkit-transform 0.1s linear;
	-moz-transition: -moz-transform 0.1s linear;
	-o-transition: -o-transform 0.1s linear;
	transition: transform 0.1s linear;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.friend_panel .friend_clazz_middle2:hover .arrow_clazz_pic,.friend_panel .friend_clazz_middle4 .arrow_clazz_pic
{
	background:url(../pic/Res/AppFramework/SelectContact/list_down_focus.png) no-repeat -6px;
}

.friend_panel .clazz_name
{
	display:inline-block;
}
.friend_panel .clazz_friend_num
{
	display:inline-block;
}
.friend_panel .clazz_friends_none
{
	display:none;
}
.friend_panel .clazz_friends
{

}

.friend_list_component
{
	overflow: hidden;
}
.friend_list_component .list_component_content
{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	list-style-type:none;
}
.friend_list_component .list_item_tr
{
	height: 28px;
	line-height:27px;
	border-top: 1px solid #FFF;
}

.friend_list_component .list_item_tr .list_item_head,.friend_list_component .list_item_tr .list_item_info
{
}
.friend_list_component .list_item_tr:hover
{
	background-color:#FBEFC0;
}
.friend_list_component .item_selected
{
	background-color:#FBEFC0;
}
.friend_list_component .list_item_head
{
	text-align: center;
	width:30px;
	height:24px;
	line-height:24px;
	display: inline-block;
	float: left;
	padding-top: 4px
}
.friend_list_component .list_item_info
{
	height:25px;
	overflow:hidden;
	word-break:keep-all;
	white-space:nowrap;
	display: inline-block;
	width: 50%;
}
.friend_list_component .friend_head_pic_div
{
	height:24px;
	width:30px;
	vertical-align: middle;
	margin: 0px;
	
}
.friend_list_component .friend_head_pic
{
	height:20px;
	width:20px;
	vertical-align: middle;
	border-radius: 3px;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	
}


.friend_list_component .friend_showname
{
	margin-right: 5px\9; 
}
.friend_list_component .friend_nickname
{
	color:#7F7F7F;
	display: none;   
}
.friend_list_component .friend_sign
{
	color:#7F7F7F;
	margin-left: 5px;
}
.friend_list_component .friend_sign_text
{
	color:#7F7F7F;
	display: inherit;
}

.friend_list_component .list_item_info label:nth-child(4)
{
	margin-left: 5px;
}

.friend_big_panel .friend_list_component .list_item_tr,.friend_item_selected .item_selected
{
	height: 50px;
}



.friend_big_panel .friend_list_component .list_item_head, .friend_item_selected .item_selected .list_item_head
{
	width:50px;
	padding-top: 4px
}
.friend_big_panel .friend_list_component .friend_head_pic_div,.friend_item_selected .item_selected .friend_head_pic_div
{
	height:50px;
	width:50px;
	
	
}
.friend_big_panel .friend_list_component .friend_head_pic
{
	height:40px;
	width:40px;
}
.friend_item_selected .item_selected .friend_head_pic
{
	height:40px;
	width:40px;
	border-radius: 3px;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	border: 1px solid #AACDC2;
	box-shadow: -1px -1px 3px rgba(170,205,194,0.8),1px 1px 3px rgba(170,205,194,0.8);
	-webkit-font-smoothing: antialiased;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}
.friend_big_panel .friend_list_component .list_item_info,.friend_item_selected .item_selected .list_item_info
{
	display:inline-block;
	height:48px;
	overflow:hidden;
	padding-top: 8px;
	line-height: 14px;
}
.friend_big_panel .friend_list_component .friend_showname, .friend_big_panel .friend_list_component .friend_nickname
, .friend_item_selected .item_selected .friend_nickname
{
	display: inline-block;
}
.friend_big_panel .friend_list_component .friend_sign_block,.friend_item_selected .item_selected .friend_sign_block
{
	display: block;
}
.friend_big_panel .friend_list_component .list_item_info label:nth-child(4),.friend_item_selected .item_selected .list_item_info label:nth-child(4)
{
	line-height: 2;
	margin-left: 0px;
}



.frame_panel
{
	/*transform:scale(0.2,0.2);  
	-moz-transform:scale(0.2,0.2);  
 	-webkit-transform:scale(0.2,0.2);  
	-o-transform:scale(0.2,0.2); */
	width:200px;
	height:200px;
	cursor: default;
	position:fixed;
	top:300px;
	left:600px;
	/*text-shadow: 0 1px 0 rgba(255,255,255,0.9);*/
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	border-radius: 3px;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	border: 1px solid #3D4E57;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.4),-1px -1px 1px rgba(0,0,0,0.2);
	vertical-align: middle;
	z-index:9998;
	overflow:hidden;
}
.frame_panel_close
{
	border: 1px solid transparent;
	box-shadow: none;
}

.frame_panel .frame_background
{
	position: absolute;
	z-index: -1;
}

.frame_panel .head_table_info 
{
	padding-top: 140px;
	margin-left: 15px;
	z-index: 1;
	position: relative;
}

.frame_panel .head_pic
{
	width: 80px;
	height: 80px;
}

.frame_panel .head_picture
{
	width: 80px;
	height: 80px;
}
.frame_panel .login_input_func,.frame_panel .password_input_func
{
	width: 180px;
	margin-left: 13px;
}
.frame_panel input
{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	padding: 4px;
	-moz-box-shadow: inset 1px 2px 4px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 1px 2px 4px rgba(0,0,0,0.25);
	-ms-box-shadow: inset 1px 2px 4px rgba(0,0,0,0.25);
	box-shadow: inset 1px 2px 4px rgba(0,0,0,0.25);
	border: 0;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	font-family: 'Open Sans',sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
	border: 1px solid transparent;
}
.frame_panel .href_td ,.frame_panel .login_href_div,.frame_panel .password_href_div
{
	width: 80px;
}

.frame_panel input:hover,.frame_panel input:focus
{
	border: 1px solid #2585BF;
	box-shadow: -1px -1px 2px rgba(3,118,250,0.3),1px 1px 2px rgba(3,118,250,0.3);
	outline: -webkit-focus-ring-color auto 5px;
	outline-color:#55B0DD;
}
.frame_panel a
{
	color:#0C7AB9;
	text-decoration:none;
}
.frame_panel a:hover
{
	color:#2995D6;
}

.frame_panel .login_status
{
	width: 100%;
	height: 100%;
}
.frame_panel .record_li
{
	width: 65px;
	display:inline-block;
	margin-left: 13px;
	color:#477D9C;
}
.frame_panel .record_li div
{
	display:inline-block;
	float: left;
}
.frame_panel .record_check
{
	background: url(../pic/Themes/Default/AppFramework/CheckButton/checkbox_normal.png) 0px 1px no-repeat;
	width: 15px;
	height: 16px;
	
}
.frame_panel .record_check:hover
{
	background: url(../pic/Themes/Default/AppFramework/CheckButton/checkbox_hightlight.png) 0px 1px no-repeat;
}
.frame_panel .record_checked
{
	background: url(../pic/Themes/Default/AppFramework/CheckButton/checkbox_tick_normal.png) 0px 1px no-repeat;
}
.frame_panel .record_checked:hover
{
	background: url(../pic/Themes/Default/AppFramework/CheckButton/checkbox_tick_highlight.png) 0px 1px no-repeat;
}


.frame_panel .record_password_tip,.frame_panel .record_auto_login_tip
{
	margin-left: 2px;
}

.frame_panel .login_submit
{
	height: 47px;
	margin-top: 10px;
	padding-top: 7px;
	z-index: 1;
	position: relative;
}
.frame_panel .login_submit_tip
{
	width:162px;
	height: 38px;
	margin-left: 113px;
	background: url(../pic/Res/LoginUI/button_login_normal.png) no-repeat;
	text-align: center;
	line-height: 27pt;
}
.frame_panel .login_submit_tip:hover
{
	background: url(../pic/Res/LoginUI/button_login_hover.png) no-repeat;
}

.frame_panel .mobile_input
{
	width:162px;
	height: 38px;
	position: relative;
	top: -38px;
	left: 336px;
	background: url(../pic/Res/LoginUI/corner_right_normal_breath.png) no-repeat;
}
.frame_panel .mobile_input:hover
{
	background: url(../pic/Res/LoginUI/corner_right_hover.png) no-repeat;
}

.frame_panel .login_video
{
	/*width: 380px;
	height: 292px;
	position: absolute;*/
	width: 388px;
height: 300px;
position: absolute;
left: -4px;
top: -5px;
}
.frame_panel .login_morning
{
	background: url(../pic/Res/LoginUI/morning.jpg) no-repeat;
}
.frame_panel .login_noon
{
	background: url(../pic/Res/LoginUI/noon.jpg) no-repeat;
}
.frame_panel .login_afternoon
{
	background: url(../pic/Res/LoginUI/afternoon.jpg) no-repeat;
}
.frame_panel .login_night
{
	background: url(../pic/Res/LoginUI/night.jpg) no-repeat;
}
.frame_panel .login_status_set
{
	width: 14px;
	height: 14px;
	position: absolute;
	margin-left: 65px;
	margin-top: -15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	border: 1px solid transparent;
	border-color:transparent;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
	
}
.frame_panel .login_status_set_pic
{
	margin-left: 2px;
	margin-top: 2px;
}

.frame_panel .login_status_set:hover
{
	background:url(../pic/Res/Mine/hover.png) repeat-x;
	border: 1px solid #DDDFDD;
}

.frame_panel .head_table_morning a
{
	color:#07B839;
}
.frame_panel .head_table_morning a:hover
{
	color: #3AD81B;
}
.frame_panel .head_table_morning .record_li {
	color: #18923A;
}
.frame_panel .head_table_morning input:hover, .frame_panel .head_table_morning input:focus {
	border: 1px solid rgb(5, 170, 25);
	box-shadow: -1px -1px 2px rgba(137, 247, 155, 0.3),1px 1px 2px rgba(137, 247, 155,0.3);
	outline: -webkit-focus-ring-color auto 5px;
	outline-color: rgb(137, 247, 155);
}

.frame_panel .head_table_morning .head_pic:hover {
	border: 1px solid rgb(33, 179, 20);
	box-shadow: -1px -1px 8px rgba(60, 219, 66, 0.8),1px 1px 8px rgba(105, 248, 99, 0.8);
}

.frame_panel .head_table_noon a
{
	color:#B3E022;
}
.frame_panel .head_table_noon a:hover
{
	color: #C3FF03;
}
.frame_panel .head_table_noon .record_li {
	color: #A1CE41;
}
.frame_panel .head_table_noon input:hover, .frame_panel .head_table_noon input:focus {
	border: 1px solid rgb(163, 192, 7);
	box-shadow: -1px -1px 2px rgba(182, 226, 7, 0.3),1px 1px 2px rgba(182, 226, 7, 0.3);
	outline: -webkit-focus-ring-color auto 5px;
	outline-color: rgb(220, 238, 9);
}
.frame_panel .head_table_noon .head_pic:hover {
	border: 1px solid rgb(147, 179, 20);
	box-shadow: -1px -1px 8px rgba(194, 219, 60, 0.8),1px 1px 8px rgba(224, 248, 99, 0.8);
}


.frame_panel .head_table_night a
{
	color:#CACEBF;
}
.frame_panel .head_table_night a:hover
{
	color: #E8E8E8;
}
.frame_panel .head_table_night .record_li {
	color: #939692;
}
.frame_panel .head_table_night input:hover, .frame_panel .head_table_night input:focus {
	border: 1px solid rgb(214, 213, 213);
	box-shadow: -1px -1px 2px rgba(233, 233, 233, 0.3),1px 1px 2px rgba(233, 233, 233, 0.3);
	outline: -webkit-focus-ring-color auto 5px;
	outline-color: rgb(240, 240, 240);
}
.frame_panel .head_table_night .head_pic:hover {
	border: 1px solid rgb(224, 222, 222);
	box-shadow: -1px -1px 8px rgba(218, 218, 218, 0.8),1px 1px 8px rgba(243, 245, 243, 0.8);
}

.scale_pic_panel
{
	/*transform:scale(0.2,0.2);  
	-moz-transform:scale(0.2,0.2);  
 	-webkit-transform:scale(0.2,0.2);  
	-o-transform:scale(0.2,0.2); */
	width:200px;
	height:200px;
	cursor: default;
	position:fixed;
	top:300px;
	left:600px;
	/*text-shadow: 0 1px 0 rgba(255,255,255,0.9);*/
	
	background-repeat: repeat-x;
	border-radius: 3px;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	border: 1px solid #3D4E57;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.4),-1px -1px 1px rgba(0,0,0,0.2);
	vertical-align: middle;
	z-index:9998;
	background-color: rgba(0,0,0,0.4);
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,0.4) 0%,  rgba(0,0,0,0.4));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0.4) 0%,  rgba(0,0,0,0.4));
	background-image: linear-gradient(left,rgba(0,0,0,0.4) 0%,  rgba(0,0,0,0.4));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#85000000,endColorstr=#85000000, gradientType='1');
}

.scale_pic_panel .frame_background
{
	position: absolute;
	z-index:-1;
}
.scale_pic_panel .img_parent
{
	display: inline-block;
	position: absolute;
}
.scale_pic_panel .frame_component_content
{
	width:100%;
	height:100%;
	overflow: hidden;
	position: relative;
}
.scale_pic_panel .img_delete
{
	position: absolute;
	top:2px;
	right:2px;
	width:25px;
	height:25px;
	background:url(../pic/Res/AppFramework/ImageView/icon_close_normal.png) no-repeat;
}
.scale_pic_panel .img_delete:hover
{
	background:url(../pic/Res/AppFramework/ImageView/icon_close_hover.png) no-repeat;
}